---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
		<a class="post-preview" href="{{ post.url | relative_url }}">
		<div class="post-metadata">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
		</div>
		<div class="post-desc">
        <h2>
          {{ post.title | escape }}
        </h2>
		<p>
          {{ post.subtitle }}
		</p>
		</div>
		<div class="post-thumbnail">
		  <img src="{{ post.thumbnail }}">
		</div>
		</a>
      {%- endfor -%}
<!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
  {%- endif -%}

</div>
